<!DOCTYPE html>
<html>
<head>
<title>Order Management</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- NAVBAR -->
<div class="topbar">
<h2>Order Management</h2>
<a href="/admin/dashboard">Dashboard</a>
<a href="/">Home</a>
</div>

<h2 class="admin-title">Pending Orders</h2>

<div class="payment-wrapper">

{% for order in pending %}

<div class="bill-card">

<h3>Order ID : {{order.id}}</h3>

<p><b>Shop :</b> {{order.shop_name}}</p>
<p><b>Customer :</b> {{order.customer_name}}</p>
<p><b>Phone :</b> {{order.phone}}</p>
<p><b>Payment :</b> {{order.payment_mode}}</p>
<p><b>Date :</b> {{order.timestamp}}</p>

<hr>

<!-- LOOP ITEMS DIRECTLY -->
{% for k,v in order["items"].items() %}
<div class="bill-item">
<span>{{k}} x {{v.qty}}</span>
<span>Rs. {{v.qty * v.price}}</span>
</div>
{% endfor %}

<div class="bill-total">
Total Rs. {{order.total}}
</div>

<a href="/download/{{order.id}}" class="pay-btn">
Download Bill
</a>

<a href="/admin/deliver/{{order.id}}" class="pay-btn" style="background:#00c853;">
Mark Delivered
</a>

</div>

{% endfor %}

</div>

<!-- ================= DELIVERED ================= -->

<h2 class="admin-title" style="margin-top:40px;">Delivered Orders</h2>

<div class="payment-wrapper">

{% for order in delivered %}

<div class="bill-card" style="opacity:0.8;">

<h3>Order ID : {{order.id}}</h3>

<p><b>Shop :</b> {{order.shop_name}}</p>
<p><b>Customer :</b> {{order.customer_name}}</p>
<p><b>Phone :</b> {{order.phone}}</p>
<p><b>Payment :</b> {{order.payment_mode}}</p>
<p><b>Date :</b> {{order.timestamp}}</p>

<hr>

{% for k,v in order["items"].items() %}
<div class="bill-item">
<span>{{k}} x {{v.qty}}</span>
<span>Rs. {{v.qty * v.price}}</span>
</div>
{% endfor %}

<div class="bill-total">
Total Rs. {{order.total}}
</div>

<a href="/download/{{order.id}}" class="pay-btn">
Download Bill
</a>

</div>

{% endfor %}

</div>

</body>
</html>
