<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="admin-bg">

<div class="admin-card">

<h2>Create Account</h2>

<form method="post" action="/register">

<input name="username" placeholder="Username" required>

<input name="phone" placeholder="Phone Number" required>

<input name="password" type="password" placeholder="Password" required>

<button>Create Account</button>

</form>

<p style="margin-top:10px;">
Already have account?
<a href="/login">Login</a>
</p>

</div>

</body>
</html>
